<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AuxServer" value="Data Source=ana-sql-prod;Initial Catalog=Epicor10;Integrated Security=True" />
    <add key="FilesPath" value="E:\E10Dumps" />
    <add key="BatchSize" value="100000" />
    <add key="InstanceNum" value="1" />
    <add key="Days2Dump" value="2" />
    <add key="Query1" value="erp.PartTran:delete from erp.PartTran where datediff(dd,  sysdate, cast(getdate() as date) ) &lt; {daysNum}" />
    <add key="Query2" value="erp.TranGLC:delete from erp.TranGLC where datediff(dd,  createdate, cast(getdate() as date) ) &lt; {daysNum}" />
    <add key="Query2" value="erp.GLJrnDtl:delete from erp.GLJrnDtl where datediff(dd,  PostedDate, cast(getdate() as date) ) &lt; {daysNum}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>