<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="E10Server" value="Data Source=E101-Dev-Sql-1;Initial Catalog=Dev2;Integrated Security=True" />
    <add key="AuxServer" value="Data Source=E101-Dev-Sql-1;Initial Catalog=E10Staging;Integrated Security=True" />
    <add key="DumpPath" value="F:\E10Dump\" />
    <add key="DestPath" value="\\ana-sql-prod\E10Dumps" />
    <add key="Days2Dump" value="2" />
    <add key="Query1" value="erp.PartTran:select * from {DBName}.erp.PartTran(nolock) where datediff(dd,  sysdate, cast(getdate() as date) ) &lt; {daysNum}" />
    <add key="Query2" value="erp.TranGLC:select * from {DBName}.erp.TranGLC(nolock) where datediff(dd,  createdate, cast(getdate() as date) ) &lt; {daysNum}" />
    <add key="Query3" value="erp.GLJrnDtl:Select * from {DBName}.erp.GLJrnDtl(nolock) where datediff(dd,  PostedDate, cast(getdate() as date) ) &lt; {daysNum}" />
    <add key="Query4" value="erp.SNtran:SELECT * FROM {DBName}.erp.SNtran(nolock) where trantype ='STK-CUS'" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>