<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="~LoaderExe" value="C:\Users\odantchenko\source\repos\E10Dumper\E10Uploader\bin\Debug\E10Uploader.exe" />
    <add key="LoaderExe" value="notepad.exe" />
    <add key="FilesPath" value="\\bas-sql-ana\E10Dump" />
    <add key="AuxServer" value="Data Source=bas-sql-ana;Initial Catalog=Epicor10;Integrated Security=True" />
    <add key="MaxReruns" value="3" />
    <add key="SSISrunCommand" value="msdb.dbo.sp_start_job N'Test'" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>